body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #494949;
}
.napis {
    padding:4rem;
    background-color: #f0f0f0;
    margin-top:4rem;
    border-radius:1rem;
    text-align:center;
}
.background {
    background-color: #494949;
    height:100vmax;
}

